
# Merge files created by git.
*.orig
# Byte compiled Python modules.
*.pyc
# vim swap files
.*.sw[a-z]
.sw?
cscope.files
cscope.out
.vimrc

.DS_Store
# clangd
.cache
.clangd

# SwiftPM
.build
t
CMakeFiles
.atom-build.json
*.xcworkspace
*.xcuserstate

#============================================================================

/benchmark/scripts/Benchmark_Driverc

